.footer {  
    font-size: 2.5em;
    color: $color-headfoot;
    background-color: $bg-headfoot;
    display: flex;
    position: fixed;
    bottom: 0;
    padding: .5em 1em;
    width: 100%;
    @media screen and (max-width: map-get($breakpoints,xs)) {
        font-size: 1.5em;
    }
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer__nav {
    &-mentions {
        @include wiggle-effect;
        }
    &-contact {
        @include wiggle-effect;
    }
}

