@mixin gradient ($color1, $color2) {
    background: linear-gradient(to bottom right, $color1, $color2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin menu {
    font-size: 4em;
    box-shadow: 0 0 .5em $color-boxshadow;
    overflow: hidden;
    padding-left: 1em;
    padding-right: 1em;
}
