
@mixin menu {
    font-size: 4em;
    box-shadow: 0 0 .5em $color-boxshadow;
}

@mixin gradient ($color1, $color2) {
    background: linear-gradient(to bottom right, $color1, $color2);
    background-clip: text;
    color: transparent;
}


    