@mixin menu-animation {
    transition: transform 450ms, opacity 300ms 150ms;
    &:hover {
        transform: scale(1.2);
        opacity: .5;
    }    
}

@mixin underligne-animation ($color) {
    position: relative;
    width: max-content;
    cursor: pointer;
    &::after {
        content: "";
        background-color: $color;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 3px;
        opacity: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 800ms linear;
    }
    &:hover::after {
    opacity: 1;
    transform: scaleX(1);
    }
}

@mixin wiggle-effect {
    &:hover {
      transform: translateX(0);
      animation: wiggle 800ms cubic-bezier(.4,0,.2,1);
    }
}

@keyframes wiggle {
    10%, 90% {
      transform: translateX(-1px);
    }
  
    20%, 80% {
      transform: translateX(2px);  
    }

    30%, 50%, 70% {
      transform: translateX(-4px);
    }

    40%, 60% {
      transform: translateX(4px);
    }
}

@mixin ellipsis-animation {
    &::after {
        content: ".";
        animation: ellipsis 2s infinite;
    }
}

@keyframes ellipsis {
    0%, 39% {
        color: transparent;
        text-shadow: 0.33em 0 0 transparent, 0.67em 0 0 transparent;
    }
    40%, 69% {
        color: $color-headfoot;
        text-shadow: 0.33em 0 0 transparent, 0.67em 0 0 transparent;
    }
    70%, 89% {
        text-shadow: 0.33em -0.1em 0 $color-headfoot, 0.67em 0 0 transparent;
    }
    90%, 100% {
        text-shadow: 0.33em 0 0 $color-headfoot, 0.67em 0 0 $color-headfoot;
    }
}
