*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-size: calc(1em * .625); /* IE9-IE11 math fixing */
}

.page {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-align: center;
}

a {
    text-decoration: none;
    color: $color-headfoot;
}

ul {
    list-style-type: none;
}

*:focus {
    outline: none;
} 

